.footer {
  &-container {
    background: var(--jeans);
    margin-top: 3.125rem;

    p,
    a,
    li {
      color: white;
      font-family: var(--standard);
      text-decoration: none;

      &:link,
      &:visited {
        color: white;
      }
    }
  }

  &-list {
    padding: 2rem;

    @media (min-width: 56.25rem) {
      display: flex;
      justify-content: space-around;
    }
  }

  &-section {
    &:not(.contact) {
      border-bottom: 0.125rem var(--neutral-gray) solid;
      margin-bottom: 1.75rem;
      display: flex;

      @media (min-width: 56.25rem) {
        display: block;
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }

  &-link-item {
    margin-bottom: 1rem;
  }

  &-title {
    margin-bottom: 1rem;
    flex: 0 0 50%;
  }

  &-link-list {
    &.social {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 11.375rem;
    }
  }

  &-link-item {
    &.email {
      width: 100%;
    }
  }

  &-link-item,
  &-link-url {
    font-size: 0.8rem;
  }

  &-social-link {
    &.email {
      display: flex;
      align-items: center;
    }
  }

  &-icon {
    fill: white;
    width: 1.5rem;

    &.email {
      margin-right: 0.5rem;
    }
  }
}
