@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:300,400,500i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Cambay:300,400,500i,900,900i");

:root {
  // fonts
  --fancy: "Nanum Myeongjo", serif;
  --standard: "Cambay", sans-serif;
  // colors
  --main-orange: #f45800;
  --udder: #f4adad;
  --free: #d4e9d7;
  --best: #fdebd2;
  --star: #9560b8;
  --warning: #a61a2e;
  --jeans: #2f466c;
}

// h1
h2 {
  font-family: var(--fancy);
  font-size: 1.25rem;

  @media (min-width: 56.25rem) {
    font-size: 2rem;
  }
}

h3 {
  font-family: var(--standard);
  font-size: 1rem;

  @media (min-width: 56.25rem) {
    font-size: 1.75rem;
  }
}

p {
  padding-top: 0.375rem;
  font-family: var(--standard);
  font-size: 0.8125rem;
}

ul {
  list-style: none;
}
