#home-container {
  position: absolute; //allows div to stretch to bottom of browser
  display: flex; //enables centering from justify content
  justify-content: center; //centers horizontally since flex-direction is default
  background-color: #F1EDEE; //shows the div container
  height: 100%; //full width of browser window
  width: 100%; //full height of browser window
}