#home-container {
  position: absolute; //allows div to stretch to bottom of browser
  display: flex; //enables centering from justify content
  justify-content: center; //centers horizontally since flex-direction is default
  // background-color: #F1EDEE; //shows the div container
  height: 100%; //full width of browser window
  width: 100%; //full height of browser window
}

#ribbon {
  position: absolute;
  background-color: #242424;
  width: 100%;
  height: 201px;
  z-index: -1;
}

#front-page {
  // position: absolute;
  max-width: 1441px;
  z-index: 1;
}

#top-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#greeting {
  color: white;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 47px;
  text-align: center;
  line-height: 56px;
  padding-top: 52px;
  padding-bottom: 24px;
}

.bubbles-container {
  max-width: 1401px;
  margin-bottom: 42px;;
}

.bubbles-list {
  display: flex;
  justify-content: space-around;
  width: 1262px;
  margin-bottom: 2%;
}

.bubble-img-container {
  background-color: #F4ADAD;
  max-width: 114px;
  max-height: 114px;
  width: 114px;
  height: 114px;
  border: #F4ADAD solid 6px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 12px;
}

.bubble-title {
  max-width: 130px;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  overflow-wrap: break-word;
}