#search-box {
  width: 1004px;
  text-align: left;
  color: darkgray;
  border-width: 2px;
  border-color: #222222;
  border-radius: 20px;
  padding: 1%;
  background: url("../../images/magnifying-glass-solid.svg");
}