.footer {
  &-container {
    background: var(--jeans);
    p,
    a,
    li {
      color: white;
      font-family: var(--standard);
      text-decoration: none;

      &:link,
      &:visited {
        color: white;
      }
    }
  }

  &-list {
    padding: 2rem;

    @media (min-width: 56.25rem) {
      display: flex;
      justify-content: space-around;
    }
  }

  &-section {
    padding: 0 0.0625rem;

    &:not(.contact) {
      border-bottom: 0.125rem var(--neutral-gray) solid;
      display: flex;
      margin: 0 1rem 1.75rem;

      @media (min-width: 56.25rem) {
        display: block;
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }

  &-link-item {
    margin-bottom: 1rem;

    &:not(.special-thanks):hover {
      cursor: pointer;
      border-radius: 2rem;
      background-color: #182335;
      box-shadow: #182335 0 0 0 0.5625rem;
    }

    &.special-thanks:hover {
      cursor: default;
    }
  }

  &-title {
    margin-bottom: 1rem;
    flex: 0 0 50%;

    &.social {
      display: none;

      @media (min-width: 56.25rem) {
        display: block;
      }
    }
  }

  &-link-list {
    &.social {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 11.375rem;
      margin: 0 auto;

      @media (min-width: 56.25rem) {
        margin: 0;
      }
    }
  }

  &-link-item {
    &.email {
      width: 100%;
    }
  }

  &-link-item,
  &-link-url {
    font-size: 0.7rem;
  }

  &-social-link {
    &.email {
      display: flex;
      align-items: center;
    }
  }

  &-icon {
    fill: white;
    width: 1.5rem;

    &.email {
      margin-right: 0.5rem;
    }
  }
}
