.checkout-main-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  // I honestly don't know which to choose
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #E0BBE4;
}

.flex-box-width-1400px {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  height: 100%;
  background-color: #957DAD;
}

.checkout-title-and-main-redirect {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #D291BC;
  align-items: center;
}

  .checkout-title-and-main-redirect > h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 29px;
    margin-top: 36px;
    margin-bottom: 40px;
  }

  .checkout-title-and-main-redirect > button {
    height: 35px;
    background-color: #FFDFD3;
  }

.checkout-two-column {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #FFDFB6;
}

.checkout-flex-box-product-info {
  display: flex;
  background-color: #FEC8AD;
}

.checkout-flex-box-product-info > img {
  width: 210px;
  height: 170px;
}