.checkout-main-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  // I honestly don't know which to choose
  position: absolute;
  width: 100%;
  height: 100%;
}

.checkout-flex-box-width-1400px {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1400px;
  height: 100%;
}

.checkout-title-and-main-redirect {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

  .checkout-title-and-main-redirect > h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 29px;
    margin-top: 36px;
    margin-bottom: 40px;
  }

  .checkout-title-and-main-redirect > button {
    height: 35px;
  }

.checkout-two-column {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

  .checkout-products-container {
    width: 69%;
    // background-color: #E0BBE4;
  }

    .checkout-products-container > h2 {
      // background-color: #D291BC;
      margin-bottom: .8%;
      -webkit-text-stroke: black;
      -webkit-text-stroke-width: 0.2px;
      font-size: 20px;
    }

    .checkout-flex-box-product-info {
      display: flex;
      // background-color: #FEC8AD;
    }

    #checkout-prod-temp {
      width: 210px;
      height: 170px;
      border-radius: 20px;
    }

    .checkout-flexbox-name-space-price {
      display: flex;
      justify-content: space-between;
      width: 77%;
      // background-color: #FFDFD3;
    }

    .checkout-flex-box-prod-mid {
      // background-color: #FFDFB6;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      padding: 8px;
      padding-left: 11px;
      width: 81%
    }

      .checkout-flex-box-prod-mid > span {
        font-size: 21px;
      }

      .checkout-flex-box-prod-mid > button {
        margin-left: 1px;
        -webkit-text-stroke: black;
        -webkit-text-stroke-width: 1px;
      }

    .checkout-flexbox-name-space-price > span {
      font-size: 22px;
      padding: 8px;
      -webkit-text-stroke: black;
      -webkit-text-stroke-width: 1.2px;
    }
  
  .checkout-payment-container {
    width: 28%;
    background-color: #957DAD;  
  }