.footer-outer-container {
  width: 100%;
  height: fit-content;
  background-color: #2F466C;
  color: white;
  margin-top: 26px;
}

.footer-inner-container {
  display: flex;
  justify-content: space-around;

  // display: flex;
  // justify-content: space-between;
  // padding-left: 40px;
  // padding-right: 40px;
}

.footer-columns {
  padding-top: 38px;
  padding-bottom: 116px;
}

.footer-column-heading {
  font-size: 19px;
  margin-bottom: 22px;
  // background-color: black;
}

.footer-column-list {
  padding-top: 7px;
}

.footer-column-list-items {
  font-size: 13px;
  margin-bottom: 28px;
}

.footer-column-list-links,
.footer-column-list-links:active,
.footer-column-list-links:focus,
.footer-column-list-links:visited {
  color: white;
  text-decoration: none;
  unicode-range: none;
}

.footer-column-list-links:hover {
  text-decoration: underline;
}

.footer-icon-container > svg {
  height: 13px;
  fill: white
}

.social-links-list__email-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105%;
  margin-bottom: 15px;
}

.social-links-list__email-link, 
.social-links-list__email-link:link {
  color: white;
  text-decoration: none;
}

.social-links-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  bottom: 0%;
  align-items: center;
}

.social-links-list__icons {
  height: 30px;
  fill: white;
}