#category {
  .container {
    margin-top: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.125rem;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
  }

  li:first-of-type , li + li {
    margin: 0 0.25rem;
  }
}
