#category {
  .heading {
  }

  .subheading {
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;
  }

  li:first-of-type,
  li + li {
    margin: 0 0.25rem;
  }

  .item {
  }
}
