.logo {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 34px;
  font-weight: 900;
  color: #f45800;
}

body {
  font-family: 'Cambay', sans-serif;
}

button {
  font-family: 'Cambay', sans-serif;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: .5%;
}

button:hover {
  font-family: 'Cambay', sans-serif;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}