// Place all the styles related to the Api/Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-head {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 33px;
  line-height: 42px;
}

#review-action {
  height: 55px;
  display: flex;
  align-items: center;
}

#review-not-logged-in {
  font-size: 20px;
  height: 55px;
  margin-top: 20px;
}

#create-review {
  margin: 0;
  width: 126px;
}

.review-author {
  font-size: 14px;
  color: gray;
}

.review-body {
  font-size: 17px;
  line-height: 1.4;
  margin-bottom: 42px;
}