// Place all the styles related to the Api/Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section-product-index {
  display: flex; //enable use of flex direction
  flex-direction: column; //puts title on top of image thumbnails instead of left
  align-items: flex-start; //lines up all items contained in section product index (the title and set of thumbnails) to the left
  // opacity: 30%; //temporary transparency for when creating div map
}

.product-index-title {
  font-size: 24px; //sizes font
  margin-left: 29px;
}

.product-index-row {
  display: flex;
  flex-direction: column;
}

.ul-product-index-row-list {
  display: flex; //prevents thumbnails from being columns
  justify-content: center; //adds a little space before thumbnails
  flex-flow: wrap; //breaks line on thumbnails after reaching max width
  max-width: 1400px; //specifies how big container of containers of images are allowed to get before breaking down to line to fit content
}

.product-index-row-list-items-container {
  // // goal is to make images of thumbnails be about 201 by 251
  display: flex; //enables use of justify content and align items
  justify-content: center; //centers image in frame
  align-items: center; //centers image in frame
  max-height: 201px; //keeps set max height of frame of thumbnail
  max-width: 252px; //prevents thumbnail container from stretching to full width of list container
  min-height: 201px; //keeps height from being too small i think
  min-width: 252px; //keeps width from being too thin
  border-radius: 20px; //rounds off the corners
  overflow: hidden; //hides parts of images larger than container
  box-shadow: 3px 3px 3px 3px #C6D5D8; //when photo doesn't fill up frame, allows shadow around boxes
  margin: 10px 10px; //5 space top 10 right, allows some before first thumbnail and after last thumbnail and more between thumbnails
  background-color: black;
}

.product-index-thumbnail {
  max-width: 100%; //prevents an overly zoomed in look of picture
  max-height: 100%; //can pass without but looks off-centered
}

.product-show {
  opacity: 30%; //temporary transparency for creating div map
}